/* Mobile design */

body {
    display: flex;
    flex-direction: column;
    background-color: #f9fafc;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #69696a;
}

.navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    display: inline;
    margin-top: 10px;
}

li {
    padding: 5px 20px 0 0;
    font-size: x-small;
}

h1 {
    justify-content: flex-start;
    color: #000;
    margin: 0;
    padding: 0;
    font-size: small;

}

h2 {
    color: #69696a;
    font-size: x-small;
}

h3 {
    font-size: x-large;
}

h4 {
    color: #000;
    margin: 0;
    padding: 0;
    font-size: small;
}

.button {
    background-color: #000;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    min-width: 98%;
    padding: 5px;
    display: block;
    font-size: small;
}

.lorem-ipsum {
    padding: 5px;
    border-left: 3px solid #69696a;
    min-width: 100%;
    margin-bottom: 10px;
}

footer {
    background-color: rgba(247, 193, 162, 0.7);
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 5px;
}

.footer-title {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #69696a;
    padding: 5px;
    list-style-type: none;
    position: relative;
    width: 100%;
}

.link {
    position: relative;
    float: right;
}



/* Desktop design */

@media screen and (min-width: 768px) {
    
    .navigation {
        flex-direction: row;
        justify-content: flex-end;
    }

    li {
        width: unset;
    }

    nav, .button {
        padding: 5px 5px;
        min-width: none;
    }

    
    .container {
        width: 50%;
    }

    main {
        position: relative;
        padding-top: 10%;
    }

    .circles {
        visibility: visible;
    }

    .circle-one, .circle-two, .circle-three {
        border-radius: 50%;
        opacity: .95;
        position: absolute;
    }

    .circle-one {
        background-color: rgba(247, 136,167,0.6);
        width: 200px;
        height: 200px;
        right: 80px;
        top: 15vh;
    }

    .circle-two {
        background-color: rgba(247, 193, 162, 0.7);
        width: 150px;
        height: 150px;
        right: 10px;
        top: 30vh;
    }
 
    .circle-three {
        background-color: rgba(207, 103, 213, 0.6);
        width: 100px;
        height: 100px;
        right: 15px;
        top: 25vh;
    }
}